k8s {
    computeResourceType = 'Pod'
    pod = [
      [imagePullPolicy: "Always" ],
      [volumeClaim: "${pvc}", mountPath: "/workdir" ],
      [volumeClaim: "nas-fs", mountPath: "/opt/freesurfer", subPath: 'deepprep/freesurfer', readOnly: true ],
      [volumeClaim: "nas-fs", mountPath: "/opt/model", subPath: 'deepprep/model', readOnly: true ],
      [volumeClaim: "nas-fs", mountPath: "/opt/fsl", subPath: 'deepprep/fsl', readOnly: true ],
      [volumeClaim: "nas-fs", mountPath: "/opt/ANTs", subPath: 'deepprep/ANTs', readOnly: true ],
      [volumeClaim: "nas-fs", mountPath: "/opt/abin", subPath: 'deepprep/abin', readOnly: true ],
      [volumeClaim: "nas-fs", mountPath: "/opt/workbench", subPath: 'deepprep/workbench', readOnly: true ],

      [label: 'alibabacloud.com/eci', value: 'true'],
      [annotation: 'k8s.aliyun.com/imc-perfect-match', value: 'true'],
      [annotation: 'k8s.aliyun.com/eci-image-cache', value: 'true'],
      [annotation: 'k8s.aliyun.com/eci-ram-role-name', value: '${eci_role}'],
      [annotation: 'k8s.aliyun.com/eci-extra-ephemeral-storage', value: '10Gi'],
    ]
}

process {
  executor = 'k8s'
  container = '${container}'
  withLabel: with_gpu {
    executor = 'k8s'
    container = '${container}'
    accelerator = 1
    pod = [
      [annotation: 'k8s.aliyun.com/eci-use-specs', value: '${eci_specs}' ],
    ]  
  }
}